.product-card {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.product-card:hover {
  transform: scale(1.03);
  /* Slight zoom */
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
  /* Deeper shadow */
  z-index: 5;
}